@{
    var currentCshtmlName = ViewData["CshtmlName"]?.ToString() ?? string.Empty;
    var pageTitle = "";
    if (currentCshtmlName != "")
    {
        pageTitle = currentCshtmlName.ToTitle();
    }
}

<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">@pageTitle</h1>
            <a asp-area="" asp-page="/Index" class="h5 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="" class="h5 text-primary">@pageTitle</a>
        </div>
    </div>
</div>